@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         /*url('OpenSans-Regular-webfont.woff2') format('woff2'),*/
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans Semibold';
    src: url('OpenSans-Semibold-webfont.eot');
    src: url('OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
    /*url('OpenSans-Semibold-webfont.woff2') format('woff2'),*/
    url('OpenSans-Semibold-webfont.woff') format('woff'),
    url('OpenSans-Semibold-webfont.ttf') format('truetype'),
    url('OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('OpenSans-Bold-webfont.eot');
    src: url('OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
        /*url('OpenSans-Bold-webfont.woff2') format('woff2'),*/
    url('OpenSans-Bold-webfont.woff') format('woff'),
    url('OpenSans-Bold-webfont.ttf') format('truetype'),
    url('OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
